*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
CallLib/build
EMWMatrix1/
IMKit/build
IMLib/build
bug/
libsCircleProgressView/build
libsCrop/build
libsFilePicker/build
libsFloatingGroupExpandableListView/build
libsIOSDialog/build
rs/
libsMaterialCalendarView/build
libsNettyIMSDK/build
libsNsRefreshLayout/build
build/intermediates/check-manifest/
libsNumberProgressBar/build
libsPickerView/build
libsSlidingMenu/build
libsSwipeBackLayout/build
libsSwipeMenuListView/build
lib
sTableFixHeaders/build/intermediates/transforms/
libsTableFixHeaders/build
libsWeekView/build
libscrash/build
libscubesdk/build
libsdragsortlistview/build
libsptr/build
libsResideMenu/build
