*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
CallLib/build/generated/not_namespaced_r_class_sources/
CallLib/build/generated/res/
CallLib/build/generated/source/apt/
CallLib/build/generated/source/rs/
CallLib/build/intermediates/aapt_friendly_merged_manifests/
CallLib/build/intermediates/annotation_processor_list/
CallLib/build/intermediates/check-manifest/
CallLib/build/intermediates/full_jar/
CallLib/build/intermediates/incremental/debug-mergeJniLibs/
CallLib/build/intermediates/incremental/mergeDebugJniLibFolders/
CallLib/build/intermediates/incremental/packageDebugAssets/
CallLib/build/intermediates/incremental/packageDebugResources/merged.dir/
CallLib/build/intermediates/incremental/packageDebugResources/stripped.dir/
CallLib/build/intermediates/intermediate-jars/
CallLib/build/intermediates/javac/
CallLib/build/intermediates/jniLibs/debug/
CallLib/build/intermediates/library_assets/
CallLib/build/intermediates/merged_manifests/
CallLib/build/intermediates/packaged_res/
CallLib/build/intermediates/public_res/
CallLib/build/intermediates/res/symbol-table-with-package/
CallLib/build/intermediates/rs/
CallLib/build/intermediates/shader_assets/
CallLib/build/intermediates/shaders/
CallLib/build/intermediates/symbols/
CallLib/build/intermediates/transforms/mergeJniLibs/debug/
CallLib/build/outputs/logs/
CallLib/build/tmp/
EMWMatrix1/
IMKit/build/generated/not_namespaced_r_class_sources/
IMKit/build/generated/res/
IMKit/build/generated/source/apt/
IMKit/build/generated/source/rs/
IMKit/build/intermediates/aapt_friendly_merged_manifests/
IMKit/build/intermediates/annotation_processor_list/
IMKit/build/intermediates/check-manifest/
IMKit/build/intermediates/full_jar/
IMKit/build/intermediates/incremental/debug-mergeJniLibs/
IMKit/build/intermediates/incremental/mergeDebugJniLibFolders/
IMKit/build/intermediates/incremental/packageDebugAssets/
IMKit/build/intermediates/incremental/packageDebugResources/stripped.dir/
IMKit/build/intermediates/intermediate-jars/
IMKit/build/intermediates/javac/
IMKit/build/intermediates/jniLibs/debug/
IMKit/build/intermediates/library_assets/
IMKit/build/intermediates/merged_manifests/
IMKit/build/intermediates/packaged_res/
IMKit/build/intermediates/public_res/
IMKit/build/intermediates/res/symbol-table-with-package/
IMKit/build/intermediates/rs/
IMKit/build/intermediates/shader_assets/
IMKit/build/intermediates/shaders/
IMKit/build/intermediates/symbols/debug/
IMKit/build/intermediates/transforms/
IMKit/build/outputs/logs/
IMKit/build/tmp/
IMLib/build/generated/not_namespaced_r_class_sources/
IMLib/build/generated/res/
IMLib/build/generated/source/apt/
IMLib/build/generated/source/rs/
IMLib/build/intermediates/aapt_friendly_merged_manifests/
IMLib/build/intermediates/annotation_processor_list/
IMLib/build/intermediates/check-manifest/
IMLib/build/intermediates/full_jar/
IMLib/build/intermediates/incremental/debug-mergeJniLibs/
IMLib/build/intermediates/incremental/mergeDebugJniLibFolders/
IMLib/build/intermediates/incremental/packageDebugAssets/
IMLib/build/intermediates/incremental/packageDebugResources/stripped.dir/
IMLib/build/intermediates/intermediate-jars/
IMLib/build/intermediates/javac/
IMLib/build/intermediates/jniLibs/de
bug/
IMLib/build/intermediates/library_assets/
IMLib/build/intermediates/merged_manifests/
IMLib/build/intermediates/packaged_res/
IMLib/build/intermediates/public_res/
IMLib/build/intermediates/res/symbol-table-with-package/
IMLib/build/intermediates/rs/
IMLib/build/intermediates/shader_assets/
IMLib/build/intermediates/shaders/
IMLib/build/intermediates/symbols/debug/
IMLib/build/intermediates/transforms/mergeJniLibs/debug/
IMLib/build/outputs/logs/
IMLib/build/tmp/
libsCircleProgressView/build/generated/not_namespaced_r_class_sources/
libsCircleProgressView/build/generated/res/
libsCircleProgressView/build/generated/source/rs/
libsCircleProgressView/build/intermediates/aapt_friendly_merged_manifests/
libsCircleProgressView/build/intermediates/check-manifest/
libsCircleProgressView/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsCircleProgressView/build/intermediates/merged_manifests/
libsCircleProgressView/build/intermediates/packaged_res/
libsCircleProgressView/build/intermediates/public_res/
libsCircleProgressView/build/intermediates/res/symbol-table-with-package/
libsCircleProgressView/build/intermediates/rs/
libsCircleProgressView/build/intermediates/symbols/debug/
libsCircleProgressView/build/outputs/logs/
libsCrop/build/generated/not_namespaced_r_class_sources/
libsCrop/build/generated/res/
libsCrop/build/generated/source/apt/
libsCrop/build/generated/source/rs/
libsCrop/build/intermediates/aapt_friendly_merged_manifests/
libsCrop/build/intermediates/annotation_processor_list/
libsCrop/build/intermediates/check-manifest/
libsCrop/build/intermediates/full_jar/
libsCrop/build/intermediates/incremental/debug-mergeJniLibs/
libsCrop/build/intermediates/incremental/mergeDebugJniLibFolders/
libsCrop/build/intermediates/incremental/packageDebugAssets/
libsCrop/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsCrop/build/intermediates/intermediate-jars/
libsCrop/build/intermediates/javac/
libsCrop/build/intermediates/jniLibs/
libsCrop/build/intermediates/library_assets/
libsCrop/build/intermediates/merged_manifests/
libsCrop/build/intermediates/packaged_res/
libsCrop/build/intermediates/public_res/
libsCrop/build/intermediates/res/symbol-table-with-package/
libsCrop/build/intermediates/rs/
libsCrop/build/intermediates/shader_assets/
libsCrop/build/intermediates/shaders/
libsCrop/build/intermediates/symbols/debug/
libsCrop/build/intermediates/transforms/
libsCrop/build/outputs/logs/
libsCrop/build/tmp/
libsFilePicker/build/generated/not_namespaced_r_class_sources/
libsFilePicker/build/generated/res/resValues/
libsFilePicker/build/generated/res/rs/
libsFilePicker/build/generated/source/apt/
libsFilePicker/build/generated/source/rs/
libsFilePicker/build/intermediates/aapt_friendly_merged_manifests/
libsFilePicker/build/intermediates/annotation_processor_list/
libsFilePicker/build/intermediates/check-manifest/
libsFilePicker/build/intermediates/full_jar/
libsFilePicker/build/intermediates/incremental/debug-mergeJniLibs/
libsFilePicker/build/intermediates/incremental/mergeDebugJniLibFolders/
libsFilePicker/build/intermediates/incremental/packageDebugAssets/
libsFilePicker/build/intermediates/incremental/packageDebugResources/stripped.dir/

libsFilePicker/build/intermediates/intermediate-jars/
libsFilePicker/build/intermediates/javac/
libsFilePicker/build/intermediates/jniLibs/
libsFilePicker/build/intermediates/library_assets/
libsFilePicker/build/intermediates/merged_manifests/
libsFilePicker/build/intermediates/packaged_res/
libsFilePicker/build/intermediates/public_res/
libsFilePicker/build/intermediates/res/symbol-table-with-package/
libsFilePicker/build/intermediates/rs/
libsFilePicker/build/intermediates/shader_assets/
libsFilePicker/build/intermediates/shaders/
libsFilePicker/build/intermediates/symbols/debug/
libsFilePicker/build/intermediates/transforms/
libsFilePicker/build/outputs/logs/
libsFilePicker/build/tmp/
libsFloatingGroupExpandableListView/build/generated/not_namespaced_r_class_sources/
libsFloatingGroupExpandableListView/build/generated/res/
libsFloatingGroupExpandableListView/build/generated/source/apt/
libsFloatingGroupExpandableListView/build/generated/source/rs/
libsFloatingGroupExpandableListView/build/intermediates/aapt_friendly_merged_manifests/
libsFloatingGroupExpandableListView/build/intermediates/annotation_processor_list/
libsFloatingGroupExpandableListView/build/intermediates/check-manifest/
libsFloatingGroupExpandableListView/build/intermediates/full_jar/
libsFloatingGroupExpandableListView/build/intermediates/incremental/debug-mergeJniLibs/
libsFloatingGroupExpandableListView/build/intermediates/incremental/mergeDebugJniLibFolders/
libsFloatingGroupExpandableListView/build/intermediates/incremental/packageDebugAssets/
libsFloatingGroupExpandableListView/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsFloatingGroupExpandableListView/build/intermediates/intermediate-jars/
libsFloatingGroupExpandableListView/build/intermediates/javac/
libsFloatingGroupExpandableListView/build/intermediates/jniLibs/
libsFloatingGroupExpandableListView/build/intermediates/library_assets/
libsFloatingGroupExpandableListView/build/intermediates/merged_manifests/
libsFloatingGroupExpandableListView/build/intermediates/packaged_res/
libsFloatingGroupExpandableListView/build/intermediates/public_res/
libsFloatingGroupExpandableListView/build/intermediates/res/symbol-table-with-package/
libsFloatingGroupExpandableListView/build/intermediates/rs/
libsFloatingGroupExpandableListView/build/intermediates/shader_assets/
libsFloatingGroupExpandableListView/build/intermediates/shaders/
libsFloatingGroupExpandableListView/build/intermediates/symbols/debug/
libsFloatingGroupExpandableListView/build/intermediates/transforms/
libsFloatingGroupExpandableListView/build/outputs/logs/
libsFloatingGroupExpandableListView/build/tmp/
libsIOSDialog/build/generated/not_namespaced_r_class_sources/
libsIOSDialog/build/generated/res/
libsIOSDialog/build/generated/source/apt/
libsIOSDialog/build/generated/source/rs/
libsIOSDialog/build/intermediates/aapt_friendly_merged_manifests/
libsIOSDialog/build/intermediates/annotation_processor_list/
libsIOSDialog/build/intermediates/check-manifest/
libsIOSDialog/build/intermediates/full_jar/
libsIOSDialog/build/intermediates/incremental/debug-mergeJniLibs/
libsIOSDialog/build/intermediates/incremental/mergeDebugJniLibFolders/
libsIOSDialog/build/intermediates/incremental/packageDebugAssets/
libsIOSDialog/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsIOSDialog/build/intermediates/intermediate-ja
rs/
libsIOSDialog/build/intermediates/javac/
libsIOSDialog/build/intermediates/jniLibs/
libsIOSDialog/build/intermediates/library_assets/
libsIOSDialog/build/intermediates/merged_manifests/
libsIOSDialog/build/intermediates/packaged_res/
libsIOSDialog/build/intermediates/public_res/
libsIOSDialog/build/intermediates/res/symbol-table-with-package/
libsIOSDialog/build/intermediates/rs/
libsIOSDialog/build/intermediates/shader_assets/
libsIOSDialog/build/intermediates/shaders/
libsIOSDialog/build/intermediates/symbols/debug/
libsIOSDialog/build/intermediates/transforms/
libsIOSDialog/build/outputs/logs/
libsIOSDialog/build/tmp/
libsMaterialCalendarView/build/generated/not_namespaced_r_class_sources/
libsMaterialCalendarView/build/generated/res/
libsMaterialCalendarView/build/generated/source/rs/
libsMaterialCalendarView/build/intermediates/aapt_friendly_merged_manifests/
libsMaterialCalendarView/build/intermediates/check-manifest/
libsMaterialCalendarView/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsMaterialCalendarView/build/intermediates/merged_manifests/
libsMaterialCalendarView/build/intermediates/packaged_res/
libsMaterialCalendarView/build/intermediates/public_res/
libsMaterialCalendarView/build/intermediates/res/symbol-table-with-package/
libsMaterialCalendarView/build/intermediates/rs/
libsMaterialCalendarView/build/intermediates/symbols/debug/
libsMaterialCalendarView/build/outputs/logs/
libsNettyIMSDK/build/generated/not_namespaced_r_class_sources/
libsNettyIMSDK/build/generated/res/
libsNettyIMSDK/build/generated/source/apt/
libsNettyIMSDK/build/generated/source/rs/
libsNettyIMSDK/build/intermediates/aapt_friendly_merged_manifests/
libsNettyIMSDK/build/intermediates/annotation_processor_list/
libsNettyIMSDK/build/intermediates/check-manifest/
libsNettyIMSDK/build/intermediates/full_jar/
libsNettyIMSDK/build/intermediates/incremental/debug-mergeJniLibs/
libsNettyIMSDK/build/intermediates/incremental/mergeDebugJniLibFolders/
libsNettyIMSDK/build/intermediates/incremental/packageDebugAssets/
libsNettyIMSDK/build/intermediates/incremental/packageDebugResources/merged.dir/
libsNettyIMSDK/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsNettyIMSDK/build/intermediates/intermediate-jars/
libsNettyIMSDK/build/intermediates/javac/
libsNettyIMSDK/build/intermediates/jniLibs/
libsNettyIMSDK/build/intermediates/library_assets/
libsNettyIMSDK/build/intermediates/merged_manifests/
libsNettyIMSDK/build/intermediates/packaged_res/
libsNettyIMSDK/build/intermediates/public_res/
libsNettyIMSDK/build/intermediates/res/symbol-table-with-package/
libsNettyIMSDK/build/intermediates/rs/
libsNettyIMSDK/build/intermediates/shader_assets/
libsNettyIMSDK/build/intermediates/shaders/
libsNettyIMSDK/build/intermediates/symbols/
libsNettyIMSDK/build/intermediates/transforms/mergeJniLibs/
libsNettyIMSDK/build/outputs/logs/
libsNettyIMSDK/build/tmp/
libsNsRefreshLayout/build/generated/not_namespaced_r_class_sources/
libsNsRefreshLayout/build/generated/res/
libsNsRefreshLayout/build/generated/source/apt/
libsNsRefreshLayout/build/generated/source/rs/
libsNsRefreshLayout/build/intermediates/aapt_friendly_merged_manifests/
libsNsRefreshLayout/build/intermediates/annotation_processor_list/
libsNsRefreshLayout/
build/intermediates/check-manifest/
libsNsRefreshLayout/build/intermediates/full_jar/
libsNsRefreshLayout/build/intermediates/incremental/debug-mergeJniLibs/
libsNsRefreshLayout/build/intermediates/incremental/mergeDebugJniLibFolders/
libsNsRefreshLayout/build/intermediates/incremental/packageDebugAssets/
libsNsRefreshLayout/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsNsRefreshLayout/build/intermediates/intermediate-jars/
libsNsRefreshLayout/build/intermediates/javac/
libsNsRefreshLayout/build/intermediates/jniLibs/
libsNsRefreshLayout/build/intermediates/library_assets/
libsNsRefreshLayout/build/intermediates/merged_manifests/
libsNsRefreshLayout/build/intermediates/packaged_res/
libsNsRefreshLayout/build/intermediates/public_res/
libsNsRefreshLayout/build/intermediates/res/symbol-table-with-package/
libsNsRefreshLayout/build/intermediates/rs/
libsNsRefreshLayout/build/intermediates/shader_assets/
libsNsRefreshLayout/build/intermediates/shaders/
libsNsRefreshLayout/build/intermediates/symbols/debug/
libsNsRefreshLayout/build/intermediates/transforms/
libsNsRefreshLayout/build/outputs/logs/
libsNsRefreshLayout/build/tmp/
libsNumberProgressBar/build/generated/not_namespaced_r_class_sources/
libsNumberProgressBar/build/generated/res/
libsNumberProgressBar/build/generated/source/apt/
libsNumberProgressBar/build/generated/source/rs/
libsNumberProgressBar/build/intermediates/aapt_friendly_merged_manifests/
libsNumberProgressBar/build/intermediates/annotation_processor_list/
libsNumberProgressBar/build/intermediates/check-manifest/
libsNumberProgressBar/build/intermediates/full_jar/
libsNumberProgressBar/build/intermediates/incremental/debug-mergeJniLibs/
libsNumberProgressBar/build/intermediates/incremental/mergeDebugJniLibFolders/
libsNumberProgressBar/build/intermediates/incremental/packageDebugAssets/
libsNumberProgressBar/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsNumberProgressBar/build/intermediates/intermediate-jars/
libsNumberProgressBar/build/intermediates/javac/
libsNumberProgressBar/build/intermediates/jniLibs/
libsNumberProgressBar/build/intermediates/library_assets/
libsNumberProgressBar/build/intermediates/merged_manifests/
libsNumberProgressBar/build/intermediates/packaged_res/
libsNumberProgressBar/build/intermediates/public_res/
libsNumberProgressBar/build/intermediates/res/symbol-table-with-package/
libsNumberProgressBar/build/intermediates/rs/
libsNumberProgressBar/build/intermediates/shader_assets/
libsNumberProgressBar/build/intermediates/shaders/
libsNumberProgressBar/build/intermediates/symbols/debug/
libsNumberProgressBar/build/intermediates/transforms/
libsNumberProgressBar/build/outputs/logs/
libsNumberProgressBar/build/tmp/
libsPickerView/build/generated/not_namespaced_r_class_sources/
libsPickerView/build/generated/res/
libsPickerView/build/generated/source/apt/
libsPickerView/build/generated/source/rs/
libsPickerView/build/intermediates/aapt_friendly_merged_manifests/
libsPickerView/build/intermediates/annotation_processor_list/
libsPickerView/build/intermediates/check-manifest/
libsPickerView/build/intermediates/full_jar/
libsPickerView/build/intermediates/incremental/debug-mergeJniLibs/
libsPickerView/build/intermediates/incremental/mergeDebugJniLibFolders/
libsPickerView/build/intermediates/incremen
tal/packageDebugAssets/
libsPickerView/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsPickerView/build/intermediates/intermediate-jars/
libsPickerView/build/intermediates/javac/
libsPickerView/build/intermediates/jniLibs/
libsPickerView/build/intermediates/library_assets/
libsPickerView/build/intermediates/merged_manifests/
libsPickerView/build/intermediates/packaged_res/
libsPickerView/build/intermediates/public_res/
libsPickerView/build/intermediates/res/symbol-table-with-package/
libsPickerView/build/intermediates/rs/
libsPickerView/build/intermediates/shader_assets/
libsPickerView/build/intermediates/shaders/
libsPickerView/build/intermediates/symbols/debug/
libsPickerView/build/intermediates/transforms/
libsPickerView/build/outputs/logs/
libsPickerView/build/tmp/
libsResideMenu/build/generated/not_namespaced_r_class_sources/
libsResideMenu/build/generated/res/
libsResideMenu/build/generated/source/rs/
libsResideMenu/build/intermediates/aapt_friendly_merged_manifests/
libsResideMenu/build/intermediates/check-manifest/
libsResideMenu/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsResideMenu/build/intermediates/merged_manifests/
libsResideMenu/build/intermediates/packaged_res/
libsResideMenu/build/intermediates/public_res/
libsResideMenu/build/intermediates/res/symbol-table-with-package/
libsResideMenu/build/intermediates/rs/
libsResideMenu/build/intermediates/symbols/debug/
libsResideMenu/build/outputs/logs/
libsSlidingMenu/build/generated/not_namespaced_r_class_sources/
libsSlidingMenu/build/generated/res/
libsSlidingMenu/build/generated/source/apt/
libsSlidingMenu/build/generated/source/rs/
libsSlidingMenu/build/intermediates/aapt_friendly_merged_manifests/
libsSlidingMenu/build/intermediates/annotation_processor_list/
libsSlidingMenu/build/intermediates/check-manifest/
libsSlidingMenu/build/intermediates/full_jar/
libsSlidingMenu/build/intermediates/incremental/debug-mergeJniLibs/
libsSlidingMenu/build/intermediates/incremental/mergeDebugJniLibFolders/
libsSlidingMenu/build/intermediates/incremental/packageDebugAssets/
libsSlidingMenu/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsSlidingMenu/build/intermediates/intermediate-jars/
libsSlidingMenu/build/intermediates/javac/
libsSlidingMenu/build/intermediates/jniLibs/
libsSlidingMenu/build/intermediates/library_assets/
libsSlidingMenu/build/intermediates/merged_manifests/
libsSlidingMenu/build/intermediates/packaged_res/
libsSlidingMenu/build/intermediates/public_res/
libsSlidingMenu/build/intermediates/res/symbol-table-with-package/
libsSlidingMenu/build/intermediates/rs/
libsSlidingMenu/build/intermediates/shader_assets/
libsSlidingMenu/build/intermediates/shaders/
libsSlidingMenu/build/intermediates/symbols/debug/
libsSlidingMenu/build/intermediates/transforms/
libsSlidingMenu/build/outputs/logs/
libsSlidingMenu/build/tmp/
libsSwipeBackLayout/build/generated/not_namespaced_r_class_sources/
libsSwipeBackLayout/build/generated/res/
libsSwipeBackLayout/build/generated/source/apt/
libsSwipeBackLayout/build/generated/source/rs/
libsSwipeBackLayout/build/intermediates/aapt_friendly_merged_manifests/
libsSwipeBackLayout/build/intermediates/annotation_processor_list/
libsSwipeBackLayout/build/i
ntermediates/check-manifest/
libsSwipeBackLayout/build/intermediates/full_jar/
libsSwipeBackLayout/build/intermediates/incremental/debug-mergeJniLibs/
libsSwipeBackLayout/build/intermediates/incremental/mergeDebugJniLibFolders/
libsSwipeBackLayout/build/intermediates/incremental/packageDebugAssets/
libsSwipeBackLayout/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsSwipeBackLayout/build/intermediates/intermediate-jars/
libsSwipeBackLayout/build/intermediates/javac/
libsSwipeBackLayout/build/intermediates/jniLibs/
libsSwipeBackLayout/build/intermediates/library_assets/
libsSwipeBackLayout/build/intermediates/merged_manifests/
libsSwipeBackLayout/build/intermediates/packaged_res/
libsSwipeBackLayout/build/intermediates/public_res/
libsSwipeBackLayout/build/intermediates/res/symbol-table-with-package/
libsSwipeBackLayout/build/intermediates/rs/
libsSwipeBackLayout/build/intermediates/shader_assets/
libsSwipeBackLayout/build/intermediates/shaders/
libsSwipeBackLayout/build/intermediates/symbols/debug/
libsSwipeBackLayout/build/intermediates/transforms/
libsSwipeBackLayout/build/outputs/logs/
libsSwipeBackLayout/build/tmp/
libsSwipeMenuListView/build/generated/not_namespaced_r_class_sources/
libsSwipeMenuListView/build/generated/res/
libsSwipeMenuListView/build/generated/source/rs/
libsSwipeMenuListView/build/intermediates/aapt_friendly_merged_manifests/
libsSwipeMenuListView/build/intermediates/check-manifest/
libsSwipeMenuListView/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsSwipeMenuListView/build/intermediates/merged_manifests/
libsSwipeMenuListView/build/intermediates/packaged_res/
libsSwipeMenuListView/build/intermediates/public_res/
libsSwipeMenuListView/build/intermediates/res/symbol-table-with-package/
libsSwipeMenuListView/build/intermediates/rs/
libsSwipeMenuListView/build/intermediates/symbols/debug/
libsSwipeMenuListView/build/outputs/logs/
libsTableFixHeaders/build/generated/not_namespaced_r_class_sources/
libsTableFixHeaders/build/generated/res/
libsTableFixHeaders/build/generated/source/apt/
libsTableFixHeaders/build/generated/source/rs/
libsTableFixHeaders/build/intermediates/aapt_friendly_merged_manifests/
libsTableFixHeaders/build/intermediates/annotation_processor_list/
libsTableFixHeaders/build/intermediates/check-manifest/
libsTableFixHeaders/build/intermediates/full_jar/
libsTableFixHeaders/build/intermediates/incremental/debug-mergeJniLibs/
libsTableFixHeaders/build/intermediates/incremental/mergeDebugJniLibFolders/
libsTableFixHeaders/build/intermediates/incremental/packageDebugAssets/
libsTableFixHeaders/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsTableFixHeaders/build/intermediates/intermediate-jars/
libsTableFixHeaders/build/intermediates/javac/
libsTableFixHeaders/build/intermediates/jniLibs/
libsTableFixHeaders/build/intermediates/library_assets/
libsTableFixHeaders/build/intermediates/merged_manifests/
libsTableFixHeaders/build/intermediates/packaged_res/
libsTableFixHeaders/build/intermediates/public_res/
libsTableFixHeaders/build/intermediates/res/symbol-table-with-package/
libsTableFixHeaders/build/intermediates/rs/
libsTableFixHeaders/build/intermediates/shader_assets/
libsTableFixHeaders/build/intermediates/shaders/
libsTableFixHeaders/build/intermediates/symbols/debug/
lib
sTableFixHeaders/build/intermediates/transforms/
libsTableFixHeaders/build/outputs/logs/
libsTableFixHeaders/build/tmp/
libsWeekView/build/generated/not_namespaced_r_class_sources/
libsWeekView/build/generated/res/
libsWeekView/build/generated/source/apt/
libsWeekView/build/generated/source/rs/
libsWeekView/build/intermediates/aapt_friendly_merged_manifests/
libsWeekView/build/intermediates/annotation_processor_list/
libsWeekView/build/intermediates/check-manifest/
libsWeekView/build/intermediates/full_jar/
libsWeekView/build/intermediates/incremental/debug-mergeJniLibs/
libsWeekView/build/intermediates/incremental/mergeDebugJniLibFolders/
libsWeekView/build/intermediates/incremental/packageDebugAssets/
libsWeekView/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsWeekView/build/intermediates/intermediate-jars/
libsWeekView/build/intermediates/javac/
libsWeekView/build/intermediates/jniLibs/
libsWeekView/build/intermediates/library_assets/
libsWeekView/build/intermediates/merged_manifests/
libsWeekView/build/intermediates/packaged_res/
libsWeekView/build/intermediates/public_res/
libsWeekView/build/intermediates/res/symbol-table-with-package/
libsWeekView/build/intermediates/rs/
libsWeekView/build/intermediates/shader_assets/
libsWeekView/build/intermediates/shaders/
libsWeekView/build/intermediates/symbols/debug/
libsWeekView/build/intermediates/transforms/
libsWeekView/build/outputs/logs/
libsWeekView/build/tmp/
libscrash/build/generated/not_namespaced_r_class_sources/
libscrash/build/generated/res/
libscrash/build/generated/source/apt/
libscrash/build/generated/source/rs/
libscrash/build/intermediates/aapt_friendly_merged_manifests/
libscrash/build/intermediates/annotation_processor_list/
libscrash/build/intermediates/check-manifest/
libscrash/build/intermediates/full_jar/
libscrash/build/intermediates/incremental/debug-mergeJniLibs/
libscrash/build/intermediates/incremental/mergeDebugJniLibFolders/
libscrash/build/intermediates/incremental/packageDebugAssets/
libscrash/build/intermediates/incremental/packageDebugResources/stripped.dir/
libscrash/build/intermediates/intermediate-jars/
libscrash/build/intermediates/javac/
libscrash/build/intermediates/jniLibs/
libscrash/build/intermediates/library_assets/
libscrash/build/intermediates/merged_manifests/
libscrash/build/intermediates/packaged_res/
libscrash/build/intermediates/public_res/
libscrash/build/intermediates/res/symbol-table-with-package/
libscrash/build/intermediates/rs/
libscrash/build/intermediates/shader_assets/
libscrash/build/intermediates/shaders/
libscrash/build/intermediates/symbols/debug/
libscrash/build/intermediates/transforms/mergeJniLibs/
libscrash/build/outputs/logs/
libscrash/build/tmp/
libscubesdk/build/generated/not_namespaced_r_class_sources/
libscubesdk/build/generated/res/
libscubesdk/build/generated/source/apt/
libscubesdk/build/generated/source/rs/
libscubesdk/build/intermediates/aapt_friendly_merged_manifests/
libscubesdk/build/intermediates/annotation_processor_list/
libscubesdk/build/intermediates/check-manifest/
libscubesdk/build/intermediates/full_jar/
libscubesdk/build/intermediates/incremental/debug-mergeJniLibs/
libscubesdk/build/intermediates/incremental/mergeDebugJ
niLibFolders/
libscubesdk/build/intermediates/incremental/packageDebugAssets/
libscubesdk/build/intermediates/incremental/packageDebugResources/stripped.dir/
libscubesdk/build/intermediates/intermediate-jars/
libscubesdk/build/intermediates/javac/
libscubesdk/build/intermediates/jniLibs/
libscubesdk/build/intermediates/library_assets/
libscubesdk/build/intermediates/merged_manifests/
libscubesdk/build/intermediates/packaged_res/
libscubesdk/build/intermediates/public_res/
libscubesdk/build/intermediates/res/symbol-table-with-package/
libscubesdk/build/intermediates/rs/
libscubesdk/build/intermediates/shader_assets/
libscubesdk/build/intermediates/shaders/
libscubesdk/build/intermediates/symbols/debug/
libscubesdk/build/intermediates/transforms/
libscubesdk/build/outputs/logs/
libscubesdk/build/tmp/compileDebugJavaWithJavac/
libsdragsortlistview/build/generated/not_namespaced_r_class_sources/
libsdragsortlistview/build/generated/res/
libsdragsortlistview/build/generated/source/rs/
libsdragsortlistview/build/intermediates/aapt_friendly_merged_manifests/
libsdragsortlistview/build/intermediates/check-manifest/
libsdragsortlistview/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsdragsortlistview/build/intermediates/merged_manifests/
libsdragsortlistview/build/intermediates/packaged_res/
libsdragsortlistview/build/intermediates/public_res/
libsdragsortlistview/build/intermediates/res/symbol-table-with-package/
libsdragsortlistview/build/intermediates/rs/
libsdragsortlistview/build/intermediates/symbols/debug/
libsdragsortlistview/build/outputs/logs/
libsptr/build/generated/not_namespaced_r_class_sources/
libsptr/build/generated/res/
libsptr/build/generated/source/apt/
libsptr/build/generated/source/rs/
libsptr/build/intermediates/aapt_friendly_merged_manifests/
libsptr/build/intermediates/annotation_processor_list/
libsptr/build/intermediates/check-manifest/
libsptr/build/intermediates/full_jar/
libsptr/build/intermediates/incremental/debug-mergeJniLibs/
libsptr/build/intermediates/incremental/mergeDebugJniLibFolders/
libsptr/build/intermediates/incremental/packageDebugAssets/
libsptr/build/intermediates/incremental/packageDebugResources/stripped.dir/
libsptr/build/intermediates/intermediate-jars/
libsptr/build/intermediates/javac/
libsptr/build/intermediates/jniLibs/
libsptr/build/intermediates/library_assets/
libsptr/build/intermediates/merged_manifests/
libsptr/build/intermediates/packaged_res/
libsptr/build/intermediates/public_res/
libsptr/build/intermediates/res/symbol-table-with-package/
libsptr/build/intermediates/rs/
libsptr/build/intermediates/shader_assets/
libsptr/build/intermediates/shaders/
libsptr/build/intermediates/symbols/debug/
libsptr/build/intermediates/transforms/
libsptr/build/outputs/logs/
libsptr/build/tmp/
